/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centrar en pantalla */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.antennas {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.eyes {
  display: flex;
  justify-content: center;
  gap: 2rem;
}