:root {
  --android-color: #3ddc84;
  --eye-color: white;
  --size: clamp(180px, 25vw, 320px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.antennas {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.eyes {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.torso {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.arms {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.legs {
  display: flex;
  justify-content: center;
  gap: 2rem;
}